
/* Hide scrollbar for tabs container */
#project-tabs-container::-webkit-scrollbar {
    display: none;
}

#project-tabs-container {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}
