name: Flash CI

permissions:
  contents: write

on:
  push:
    branches: [ "main", "master" ]
  pull_request:
    branches: [ "main", "master" ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3
      with:
        persist-credentials: true
        fetch-depth: 0
    
    - name: Use Node.js 20
      uses: actions/setup-node@v3
      with:
        node-version: 20
        cache: 'npm'
        
    - name: Install Dependencies
      run: npm ci
      
    - name: Run Linter
      run: npm run lint
      
    - name: Format code with Prettier
      run: npx prettier --write .
      
    - name: Commit formatted code
      uses: EndBug/add-and-commit@v9
      with:
        author_name: github-actions[bot]
        author_email: 41898282+github-actions[bot]@users.noreply.github.com
        message: "style: auto-format with Prettier"
        add: "."
        github_token: ${{ secrets.GITHUB_TOKEN }}
      
    - name: Run Tests
      run: npm run test
